* {
	margin: 0;
	padding: 0;
}

span{
	font-family: "Arial",sans-serif;
	font-size: 14px;
	color: #000;
	text-align: center;
}
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: #e3f2fd;
	}
	.wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 150px;
		background: #b1bfca;
	}

	.wrap{
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		width: 110px;
		height: 50px;
	}
	/*1элемент*/
	.element1 {
		position: relative;
		width: 100px;
		height: 40px;
		background-color: #673ab7;
	}

	.element1::before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 5px;
		background-color: red;
		transition: width .5s .5s linear;
	}

	.element1:hover::before {
		width: 100%;
		transition: width .5s linear;
	}

	.element1::after {
		content:"";
		position: absolute;
		top: 0;
		right: 0;
		width: 5px;
		height: 0;
		background-color: red;
		transition: height .5s linear;
	}

	.element1:hover::after {
		height: 100%;
		transition: height .5s .5s linear;
	}
	/*2элемент*/

	.element2{
		position: relative;
		width: 100px;
		height: 40px;
		background-color: #000063;
	}

	.element21{
		position: relative;
		width: 100px;
		height: 40px;
	}

	.element2::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 5px;
		background-color: red;
		transition: width .5s 1.5s linear;
	}

	.element2:hover::before{
		width: 100%;
		transition: width .5s linear;
	}

	.element21::before{
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		height: 5px;
		background-color: red;
		transition: width .5s .5s linear;
	}

	.element21:hover::before{
		width: 100%;
		transition: width .5s 1s linear;
	}

	.element2::after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 5px;
		height: 0;
		background-color: red;
		transition:height .5s 1s linear;
	}

	.element21::after{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 5px;
		height: 0;
		background-color: red;
		transition: height .5s linear;
	}

	.element2:hover::after{
		height: 100%;
		transition: height .5s .5s linear;
	}

	.element21:hover::after{
		height: 100%;
		transition: height .5s 1.5s linear;
	}
	/*3элемент*/
	.element3{
		position: relative;
		width: 100px;
		height: 40px;
		background-color: #1a237e;
	}

	.element31{
		position: relative;
		width: 100px;
		height: 40px;
	}

	.element3::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 5px;
		background-color: red;
		transition: width .5s linear;
	}

	.element3:hover::before{
		width: 100%;
		transition: width .5s linear;
	}

	.element31::before{
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		height: 5px;
		background-color: red;
		transition: width .5s 1s linear;
	}

	.element31:hover::before{
		width: 100%;
		transition: width .5s 1s linear;
	}

	.element3::after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 5px;
		height: 0;
		background-color: red;
		transition: height .5s .5s linear;
	}
	.element3:hover::after{
		height: 100%;
		transition: height .5s .5s linear;
	}

	.element31::after{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 5px;
		height: 0;
		background-color: red;
		transition: height .5s 1.5s linear;
	}


	.element31:hover::after{
		height: 100%;
		transition: height .5s 1.5s linear;
	}

	/*окно с заданьками*/
	.content{
		position: relative;

	}
	.window_wrap{
		display: block;
		position: absolute;
		/*display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		*/
		width: 400px;
		height: auto;
		left: 0;
		bottom: 0;

	}

	.window_head{
		display: block;
		height: 30px;
		background: #4db6ac;
	}

	.window_body{
		display: block;
		height: 500px;
		background: #fff;
	}